<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON628-01 
### Midterm - Take Home



---
#### Guidelines 
- This is your notebook for your take home midterm. 
- This part of your midterm, as you might expect, is **more challenging** so I highly recommend you to work ASAP. 

- You are required to submit your answers using this notebook (do not push or submit PDFs, Word docs, etc, cause your answers will be considered invalid = **0%**).
- The take home is **15%** of your total midterm score.
- You can work in groups of no more than **3** students.
- Your code **should not be the same** as the rest of your classmates we will check (trust me on this!!), if your code is the same as any of your classmate **your grade will be penalized.**
- The take home is due on **March 20** before class/exam (if you are taking the in-class exam before the rest of the class, you **need** to push your take home part before you commence with the in-class exam) = **NO EXCUSES !!**
- Use this [link][1] to **submit/include** the GitHub link to your take home exam.
[1]: https://docs.google.com/forms/d/e/1FAIpQLSfLkZJY80tw303ss8Ga_2sUMVgumAppWb4tYwssGTbr879_Mw/viewform "link"
- If you find a piece of code online (from someone else), and you decide to use in your midterm, you need:
    - Cite the website from where you are getting the code.
    - **Explain on your "own words" what the code is doing.**
    - If you fail to do this, your grade will be **penalized.**
- Finally, you don't need to 
---

#### The data

The state of Iowa provides many data sets on their website, we will be using a dataset which contains transactions for all stores that have a class E liquor license. 

The data , data dictionary can be found [directly on their website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy).

**However,** since many of you may have had computer issues reading medium size datasets, **everyone** needs to use the 10% dataset version of Iowa liquor sales, located in your dataset folder. 

---

#### Package imports

In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import seaborn as sns

import matplotlib
import matplotlib.pyplot as plt

import datetime

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

## 1. Load the data from file

---

In [2]:
iowa = '../../datasets/iowa_liquor/Iowa_Liquor_sales_sample_10pct.csv'

iowa = pd.read_csv(iowa)

## 2. Do an initial overview of the data

---

At the very least describe the columns/variables and the datatypes.

In [3]:
#iowa.columns.tolist()

In [4]:
#iowa.head()

In [5]:
#iowa.describe()

In [6]:
#iowa.info()

In [7]:
#print iowa.isnull().sum()


## 3. Clean the dataset

---

### 3.1 Identify columns that you will need to convert and clean. Where and how is the data corrupted?

Don't worry about converting the date column to a pandas/numpy "datetime" datatype, unless you want to (not required for these problems and is a challenging thing to work with in its own right.)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>**3.1: Columns that need to be converted and cleaned**</u>

* **The data should be indexed and sorted by the date.** 

* **The *"County Number"* and *"County"* have 1077 missing observations, *"Category"* has 68 missing observations, and *"Category Name"* has 632 missing observations. The missing observations will be dropped.** 

* **The following variables need to be converted from objects (strings) to floats: *"Sale (Dollars)"*, *"State Bottle Cost"*, and *"State Bottle Retail"*.** 

* **The following variables need to be converted from floats to ints: *"County Number"* and *"Category"*.**

### 3.2 Clean the columns

In [8]:
iowa['Date']=pd.to_datetime(iowa['Date'])
iowa = iowa.set_index(pd.DatetimeIndex(iowa['Date']))

In [9]:
iowa.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
2015-11-04,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
2016-03-02,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2016-02-11,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
2016-02-03,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
2015-08-18,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [10]:
iowa.dropna(subset = ['County Number', 'County', 'Category', 'Category Name'], inplace = True)
#print iowa.isnull().sum()

In [11]:
#Object to Float: http://widequestion.com/question/pandas-column-convert-currency-to-float/ 
iowa['Sale (Dollars)'] = (iowa['Sale (Dollars)'].replace( '[\$,)]','', regex=True ).astype(float))
iowa['State Bottle Cost'] = (iowa['State Bottle Cost'].replace( '[\$,)]','', regex=True ).astype(float))
iowa['State Bottle Retail'] = (iowa['State Bottle Retail'].replace( '[\$,)]','', regex=True ).astype(float))

#Float to Int 
iowa['County Number'] = iowa['County Number'].astype(int)
iowa['Category'] = (iowa['Category']).astype(int)

#iowa.info()


### 3.3 Perform more extensive cleaning of the dataset

Cleaning of data can mean a lot more than just fixing strings and numbers in columns. There are often logical errors with data, useless or nonsensical categories, redundancy of information, outliers, and many more problems.

This dataset has problems beyond just fixing the types of columns. Keep in mind that some types of "data cleaning" is subjective: it's not always a cut-and-dry conversion of type or removal of null values. Subjectivity when dealing with data is just a fact of life when dealing with data. This isn't a kind of programming where things are just right or wrong.

In [12]:
#Redundant Information 
del iowa['County Number']
del iowa['Category']
del iowa['Vendor Number']
del iowa['Volume Sold (Gallons)']
#del iowa['Date']


## 4. Filter/adjust the store data

---

Some stores may have opened or closed in 2015. These stores will have incorrect yearly summary statistics since they were not open the full year. We need to filter them out or find another way to deal with the inconsistent numbers of months across stores.

It is up to you how you want to deal with this problem.

1. Investigate problematic stores.
2. Decide on an approach to deal with stores not open for the full 2015 year.
3. Implement your plan.
4. Briefly report on what you did and why.

In [13]:
iowa15 = iowa[(iowa['Date'].dt.year == 2015)]
iowa15['Month'] = pd.DatetimeIndex(iowa15['Date']).month
#iowa15 = iowa15.groupby([pd.TimeGrouper(freq='M'), 'Store Number'])

/Users/shaniselukie/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [14]:
st_15 = iowa15.groupby('Store Number')['Month'].agg(['max','min'])
st_15['diff'] = st_15['max']-st_15['min'] + 1
st_15['diff']

Store Number
2106    12
2113    12
2130    12
2152    12
2178    12
2190    12
2191    12
2200    12
2205    12
2228    12
2233    12
2238    11
2248    12
2285    12
2290    12
2327    12
2353    12
2367     6
2413    12
2445    12
2448    12
2459    12
2460    12
2465    12
2475    12
2478    12
2487    11
2498    12
2500    12
2501    12
        ..
5180     4
5181     3
5182     4
5183     3
5185     3
5186     1
5187     3
5188     2
5189     1
5190     3
5191     1
5192     1
5193     1
5196     2
5198     2
5199     2
5201     1
5203     1
5204     2
5205     1
5206     1
5207     1
5212     1
5213     1
5215     1
9001    12
9002    12
9010     9
9013     7
9018     1
Name: diff, dtype: int32

In [15]:
iowa15 = iowa15.set_index('Store Number')

In [16]:
iowa15['filter'] = (st_15['diff'] > 11).astype(int)

In [17]:
iowa15['filter']

Store Number
3717    1
3654    1
2569    1
2596    1
3456    1
4346    1
2648    1
2600    1
3858    1
3717    1
2600    1
4604    1
2614    1
2590    1
3942    1
3981    1
4376    1
3390    1
3565    1
3963    1
4375    1
2545    1
4438    1
2555    1
2549    1
2644    1
4195    1
2626    1
2532    1
4520    1
       ..
2616    1
2500    1
2837    1
2478    1
2633    1
3896    1
4634    1
2602    1
4604    1
4987    1
2623    1
5126    0
2552    1
2553    1
3890    1
4876    1
2523    1
4856    1
2512    1
4438    1
2627    1
5162    0
4375    1
2545    1
2529    1
4057    1
5151    0
5152    0
3562    1
4446    1
Name: filter, dtype: int64

In [18]:
iowa15 = iowa15[iowa15['filter'] ==1]

In [19]:
iowa15.head()

,Date,City,Zip Code,County,Category Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Month,filter
Store Number,,,,,,,,,,,,,,,
3717,2015-11-04,SUMNER,50674,Bremer,APRICOT BRANDIES,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.00,11,1
3654,2015-08-18,BELMOND,50421,Wright,VODKA 80 PROOF,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.00,8,1
2569,2015-04-20,CEDAR RAPIDS,52402,Linn,AMERICAN DRY GINS,31473,New Amsterdam Gin,1750,13.32,19.98,6,119.88,10.50,4,1
2596,2015-08-05,OTTUMWA,52501,Wapello,AMERICAN GRAPE BRANDIES,52806,Korbel Brandy,750,6.66,9.99,3,29.97,2.25,8,1
3456,2015-06-25,CLEAR LAKE,50428,Cerro Gordo,CANADIAN WHISKIES,10628,Canadian Club Whisky,1750,15.75,23.63,2,47.26,3.50,6,1

In [20]:
iowa15.tail()

,Date,City,Zip Code,County,Category Name,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Month,filter
Store Number,,,,,,,,,,,,,,,
2545,2015-04-08,IOWA CITY,52245,Johnson,FLAVORED RUM,43145,Bacardi Pineapple Fusion,750,8.50,12.75,3,38.25,2.25,4,1
2529,2015-07-21,CEDAR RAPIDS,52405,Linn,100 PROOF VODKA,36887,McCormick Vodka,1000,4.13,6.20,3,18.60,3.00,7,1
4057,2015-12-22,DES MOINES,50316,Polk,TEQUILA,88291,Patron Tequila Silver Mini,300,20.30,30.45,4,121.80,1.20,12,1
3562,2015-11-20,WEST BURLINGTON,52655,Des Moines,MISC. IMPORTED CORDIALS & LIQUEURS,65258,Jagermeister Liqueur,1750,26.05,39.08,6,234.48,10.50,11,1
4446,2015-01-27,URBANDALE,50322,Polk,VODKA 80 PROOF,37993,Smirnoff Vodka 80 Prf,200,2.75,4.13,8,33.04,1.60,1,1


## 5. Case 1 - Proposals for new tax rates 

---

You are an economist working for the Iowa State tax board. The Iowa State legislature is considering changes in the liquor tax rates and has assigned you to the project.

### 5.1 Calculate yearly liquor sales for each store in 2015.

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>**Pertinent Variables**</u>

* **Sale Bottle Cost**: The amount that Alcoholic Beverages division paid for each bottle of liquor ordered
* **State Bottle Retail**: The amount the store paid for each bottle of liquor ordered
* **Sale(Dollars)**: Total cost of liquor order(number of bottles multiplied by the state retail)

In [21]:
iowa15 = iowa15.reset_index(drop = False)
iowa15.head()
iowa15.groupby(iowa15['Store Number'], sort = True)[['Sale (Dollars)']].sum().sort_values(by=['Sale (Dollars)'], ascending = False)

              Sale (Dollars)
Store Number
2633               997924.42
4829               874664.18
3385               439584.35
2512               419534.61
3420               348837.36
3952               331874.38
3814               247417.42
3354               240153.72
3773               232066.78
2670               227060.96
2593               191192.40
3447               187650.04
2629               184362.74
2625               181481.92
3524               180805.62
3820               172792.22
2663               171383.33
4167               167173.55
2648               158428.10
2561               157134.87
2616               154160.15
4677               151432.73
2502               150094.01
2500               149121.63
2106               146038.70
4312               145075.52
2501               144833.66
2619               143958.96
2506               143431.66
2614               142675.29
...                      ...
4470                 1954.95
4692                 1888.80
4748                 1878.90
4717                 1862.30
3845                 1860.06
4515                 1821.30
4739                 1815.00
4607                 1765.80
4991                 1762.54
4503                 1755.27
4843                 1737.77
4372                 1659.86
4623                 1653.60
5076                 1631.04
4989                 1612.36
4657                 1570.80
5048                 1566.34
4790                 1528.33
4923                 1502.82
5024                 1473.48
4940                 1425.39
4529                 1413.18
4539                 1370.60
4915                 1359.54
4880                 1202.34
4591                 1185.12
4659                 1178.73
4388                 1162.28
4948                  894.04
4811                  812.44

[1046 rows x 1 columns]

### 5.2 Calculate the profit each store is making in 2015.

In [22]:
#(State Bottle Retail - Sale(Dollars))*Bottles Sold

### 5.3 Investigate which Iowa counties are making the most profit on liquor per gallon in 2015.

In [23]:
#profit = State Bottle Retail - Sale(Dollars))*Volume Sold(Liter)
#groupby County Name

### 5.4  Does profit scale proportionally to store size?

Size of a store can be defined as the total gallons sold in 2015. Is the profit to store size ratio increasing as store size increases? Decreasing? Consistent?

In [24]:
#plot total liters x profit

### 5.5 Create a broader category for liquor type.

Liquor types are pretty granular in this dataset. Create a column that categorizes these types into a smaller amount of categories. The categories you decide on are up to you.

In [25]:
#Rum, Liquer, Whiskey, Vodka, Wine, Tequila, Brandy, Schnapps, Other

### 5.6 Do relationships exist between the broader liquor type and profit?

In [26]:
#plot broader types and profit


### 5.7 Are there any noticeable relationships between liquor brand and sales? Profit?

### 5.8 The tax board wants to design a tax or taxes that affect larger stores more than smaller "mom and pop" stores.

Based on your investigations into the data, come up with a way you could design a tax that achieves this goal **without explicitly taxing stores based on size or county critera.** The liqour board does not want to obviously punish larger stores or speific counties for fear of backlash, but is willing to tax hard alcohol more than beer, for example.

Feel free to do more EDA if it helps.

Your report should describe whether such a tax is possible or not, and the specifics of what the tax will target/do.

In [ ]:
#View State Data


## 6. Case 2 = Market research for new store locations 

A liquor store owner in Iowa is looking to open a store in a new location and has hired you as a consultant to investigate the market data for potential new locations. The business owner is interested in what you can discover from the data that will help him evaluate a good location for a new storefront.

---

### 6.1 Create columns for Q1 2015 sales and Q1 2016 sales.

The owner is not just interested in what locations are currently selling well, but also which areas are showing the most promising sales growth from 2015 to 2016. 

For yearly changes we will focus on the changes from Q1 2015 to Q1 2016 specifically (avoiding effects of season changes).

Note: Q1 is months: January, February, and March.

### 6.2 Decide on a metric for performance that combines Q1 2016 sales as well as growth in sales from Q1 2015.

Again, the owner wants to know that his store will be in a good position to sell a large amount of liquor now, but also have his store be more likely to grow and sell even more going forward. 

In particular, he is worried about opening a store in an area that is showing a decline in liquor sales between Q1 2015 and Q1 2016.

### 6.3 Recommend a location based on your metric.

The owner asks you to make a recommendation for a new store location. Explain why you recommended this area.

### 6.4 Recommend a location based also on a restricted inventory type.

Your employer has now decided he wants his store to focus on one type of liquor only. He askes you:

1. What would be the best type of liquor to sell to maximize profit?
2. Should the recommended location change if he is only selling one type of liquor?